@model CourseFormModel
@{
    ViewData["Title"] = "Add Course";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_CourseFormPartial" model="@Model" />

<script>
    var startDate = document.getElementById('startDate');
    startDate.setAttribute("value", "@DateTime.Now")

    var endDate = document.getElementById('endDate');
    endDate.setAttribute("value", "@DateTime.Now")
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_NotificationsPartial" />
}