@model CourseFormModel
@{
    ViewData["Title"] = "Edit Course";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_CourseFormPartial" model="@Model" />

@if (Model.StartDate < DateTime.Now)
{
<script>
    var startDateField = document.getElementById("startDate");
    startDateField.setAttribute("readonly", "readonly");
</script>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <partial name="_NotificationsPartial" />
}
