@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "Enrolled Courses";
}
<h2 class="text-center">My Enrolled Courses</h2>
<hr />

@if (!Model.Any())
{
    <div class="alert alert-warning text-center" role="alert">
        You are not currently enrolled in any courses. Explore our <a asp-controller="Course" asp-action="All">course catalog</a> to find your next learning opportunity!
    </div>
}
else
{
    <div class="row d-flex justify-content-center">
        @foreach (var course in Model)
        {
            <partial name="_CoursePartial" model="@course" />
        }
    </div>
}
