@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "Manage My Courses";
}

<div>
    <h1>@ViewData["Title"]</h1>
    <hr />
    <div class="row justify-content-between">
        @foreach (var course in Model)
        {
            <partial name="_CoursePartial" model="@course" />
        }
    </div>
</div>