@model IEnumerable<CourseViewModel>
@{
    ViewData["Title"] = "Manage My Courses";
}

<div>
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />
    @if (!Model.Any())
    {
        <h4 class="text-center">You are not managing any courses currently.</h4>
    }
    else
    {
        <div class="row justify-content-center">
            @foreach (var course in Model)
            {
                <partial name="_CoursePartial" model="@course" />
            }
        </div>
    }
</div>