@using LearningSystem.Web.ViewModels.Lesson
@model LessonFormModel

@{
    ViewData["Title"] = "Add Lesson";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_LessonFormModel" model="@Model" />


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
